<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.helge.bowlgamer">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="Liga Bowling"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity_">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".ResultActivity_"
            android:label="Ergebniseingabe"
            android:windowSoftInputMode="stateAlwaysHidden"
            android:parentActivityName=".MainActivity">
        </activity>
    </application>

</manifest>